# Ignore Python virtual environments and caches
venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore tests and development files
tests/
scripts/
.cache/
*.log

# Ignore git files
.git
.gitignore

# Temporary directories
tmp/
temp/

# Ignore environment files
src/.env

src/static/dashboard/vendors/
.cache/
